*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #171d26;
    color: #fafafa;
}

h1{
    font-size: 48px;
    font-weight: 600;
}

h3{
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
    margin-top: 30px;
}

h3:after {
    content: '';
    display: block;
    height: 3px;
    background: #72b63b;
    width: 0;
    animation: slide-in 2s ease-in-out infinite;
}

@keyframes slide-in {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}


.title-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.table-container{
    margin-top: 30px;
}

table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

table td, table th {
    border: 1px solid #e3e3e3;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

table th {
    background-color: #f9f9f9;
    color: #363636;
    font-weight: bold;
}

td:first-child{
    font-weight: bold;
    color: #72b63b;
}


